---
layout: default
title: {{ site.name }}
---

<h1 class="home-title">Gallery</h1>

<div id="home">

{% for tag in site.category_tags %}  
  
  <h2 class="sub-section">{{ tag | capitalize }}</h2>
  
  <ul class="posts">
    {% for post in site.posts %}
      {% if post.tag == tag %}

        <li>
          
          <div class="card">
            
            <a class="card-post-link" href="{{ site.baseurl }}{{ post.url }}">
            <img class="cover-image" src= "{{ site.baseurl }}/assets/images/{{ post.cover_image }}" alt="Avatar">
            
              <div class="container">
                <h4 class="card-title"><b>{{ post.title }}</b></h4>
                <p class="card-author">{{ post.author }}</p>
              </div>
            
            </a>
          </div>

        </li>
      {% endif %}

    {% endfor %}
  </ul>  

{% endfor %}

</div>

<div id="contribution">
  <h1 class="contribution-title">Want to Contribute?</h1>

    <p><b>Contributions are highly encouraged!</b></p>

    <p>I&#39;ve put together a list of plots that I want to add over the next months <a href="./plots-to-cover.html">here</a>. Feel free to pick one and open a pull request (to let me know that you&#39;re working on it)!</p>  

    <p><b>Alternatively</b>, if you have ideas of your own, they're welcome too. My idea for <strong>mpl-footy</strong> was for it to be a site where people could familiarize themselves with certain typical plots used most commonly in the football analytics industry as well as the twitter fanalytics sphere. If you think your contribution idea is:</p>

      <li>A general kind of plot not too specific to your own use-case,</li>
      <li>Not already present or not too similar to the existing posts,</li>
      <li>Not too basic (so not a simple scatter chart or bar chart),</li>

    <p>please go ahead and read through the contribution guide <a href="./contribution-guide.html">here</a>! </p>

    <p>The kind of contributions that I&#39;m really looking forward to are:</p>

      <li>demonstrating a typical procedure that you do often enough to multiple vizzes but isn&#39;t trivial (for example, setting a <a href="./sample-vizzes/maram_gradient.jpg">gradient palette to the canvas</a> or plotting <a class="hover-img" href="./sample-vizzes/maram.jpg">pitches on top of pitches</a>)</li>
      <li>complex vizzes involving more than one component (something like <a href="https://twitter.com/petermckeever">Peter McKeever</a>&#39;s player profiles <a href="./sample-vizzes/petermckeever.jpg">here</a>)</li>

</div>